*{
    box-sizing: border-box;
}

body{
    max-width: 100dvw;
    min-height: 100dvh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header{
    display: flex;
	width: 100dvw;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 2;

    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0));
}

.menu{
    width: 60%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    text-decoration: none;
    color: rgb(255, 255, 255);
    font: 12pt helvetica;

    transition: .3s;
}

#logo{
    display: flex;
    align-items: center;
    width: 40%;
    padding: 30px;
    position: relative;
    left: 20px;
}

.header img{
	height: 30px;
    width: auto;
}

.menu a:hover{
    color: rgba(255, 255, 255, 0.5);
}

.trailer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    text-align: center;
    max-width: 100dvw;
    height: 120dvh;
    overflow-x: hidden;

    background-color: black;

    position: absolute;
    top: -50px;
}

.trailer video{
    width: 111dvw;
    overflow-x: hidden;
}

.trailer::after{
    content: "";
    width: 100%;
    height: 60px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    position: absolute;
    bottom: 39px;
}

.sinopse{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 48%;
    height: 150dvh;

    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)) 30%;
}

.sinopse img{
    width: 100%;
}

.text-box{
    width: 60%;
    position: relative;
    left: -50px;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background-color: black;
    position: absolute;
    bottom: -350px;
}

footer img{
    height: 30px;
    width: auto;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.sociais{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons{
    background-color: white;
    border-radius: 10px;
    height: 30px;
    width: auto;
    margin-right: 10px;
}

.redes h3{
    font: bold 14pt helvetica;
}

.redes a{
    display: flex;
    align-items: center;

    text-decoration: none;
    color: white;
}