/* body */
*{
	box-sizing: border-box;
}

body{
	min-height: 120dvh;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	background: linear-gradient(to top, rgb(0, 0, 26), rgb(0, 0, 68) 30%, rgb(112, 13, 121));
	font-family: monospace;
	color: aliceblue;
}
/* body */

.header{
    display: flex;
	width: 100dvw;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 2;

    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,0));
}

.menu{
    width: 60%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    text-decoration: none;
    color: rgb(255, 255, 255);
    font: 12pt helvetica;

    transition: .3s;
}

#logo{
    display: flex;
    align-items: center;
    width: 40%;
    padding: 30px;
    position: relative;
    left: 20px;
}

.header img{
	height: 30px;
	width: auto;
}

.menu a:hover{
    color: rgba(255, 255, 255, 0.5);
}

h1{
	margin: 30 0 0 0px;
	padding: 20px;
	font: bold 35pt montserrat;
}


/* fotos inicial */
.flexbox{
	margin: 10px;
	display: flex;
	width: 60vw;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-evenly;
	flex-wrap: wrap;
	gap: 20px;
}

.profile{
	max-width: 60%;
	min-height: 30vh;
	display: flex;
	justify-content: space-around;
	align-items: start;
	position: relative;
	overflow: visible;
}

.fotos{
	max-width: 160px;
	aspect-ratio: 1/1;
	overflow: hidden;
	flex-shrink: 0;
	flex-grow: 1;

	box-shadow: 1px 2px 10px black;
	border-radius: 50%;

	position: relative;
	left: 0;
	z-index: 0;

	transition: .3s;
}

.fotos+h2{
	margin: 0;
	width: 140%;
	opacity: 1;
	position: absolute;
	bottom: 0;
	text-align: center;

	transition: .3s;
}
/* fotos inicial */



/* fotos hover */
.fotos:hover{
	cursor: pointer;
	max-width: 240px;
	aspect-ratio: 4/4.9;

	box-shadow: 2px 2px 10px black;
	border-radius: 20px;

	position: relative;
	left: -80px;
	z-index: 1;
}

.flexbox:has(.fotos:hover) .fotos:not(:hover){
	opacity: .3;
}

.fotos:hover+h2{
	opacity: 0;
}
/* fotos hover */


/* bios */
.bios{
	background-color: rgb(0, 0, 26);
	opacity: 0;
	width: 300px;
	height: 280px;
	flex-direction: column;
	
	border: 1px solid aliceblue;
	box-shadow: 0px 0px 10px aliceblue;
	padding: 10px;

	position: absolute;
	right: 0;
	z-index: -1;

	transition: .5s;
	transition-delay: .3s;
}

img{
	width: 100%;
}

.fotos:hover+h2+.bios{
	opacity: 1;
	position: absolute;
	right: -225px;
	bottom: 8px;
	z-index: 1;
}

.bios h3:not(.func_p1){
	margin: 0;
	opacity: .8;
}

.func_p1{
	margin: 0;
	font-size: 16pt;
}

.bios h2{
	margin: 0;
	padding: 10px 10px 10px 0px;
	font-size: 24pt;
	font-weight: bolder;
	width: 100%;
}

p{
	margin: 0;
	padding: 15px 10px 10px 0px;
	opacity: .8;
}
/* bios */